<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p><%= word %> <%= display %></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value="Guess!" />
    </form>
  </body>
</html>
