body {
  background-image: url("/images/background.jpg");
  text-align: center;
  margin: auto
}

p, h1 {
  color: #EA8400;
  font-weight: bold;
  font-size: 2em;
  font-family: Arvo;
}

h1 {
  font-size: 4.5em;
  font-family: 'Lobster Two', cursive;
}
